
.navbar{
    border-radius: 2px;
    background-color: white;
    height: 8vh;
}

#navbarNav{
    text-align: center;
    align-items: center;
    display: flex;
}


.contenedor h2{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 50px;
    color: #444444;
}

.contenedor p{
    font-size: 25px;
}

.contenedor ul{
    font-size: 25px;
}
#nav-text-logo{
    font-family: "Sofia Sans Condensed", sans-serif;
    color: black;
    font-size: 22px;
    margin-left: 10px;
}

#nav-text{
    position: initial;
    font-family: "Sofia Sans Condensed", sans-serif;
    color: black;
    font-size: 22px;
}

#nav-text:hover{
background-color: #6c696944;
border-bottom:black solid 2px ;
border-radius: 8px;
}

.banner{

    background-color:#444444;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.banner-content{
    color: white;
    text-align: justify;
    width: 60vw;
}

.banner-content h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;
}

.background{
   background-image: url("../background.jpg");
   background-position: absolute;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.background-color{
    background-color: #0d6dfd3a;
}

.info-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon img{
    border-radius: 40%;
}

.about_us_info{
    margin-bottom: 4%;
    border-left: #444444 solid;
}

.about_us_info .row{
    padding: 2%;
}

.info{
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
}


.products{
    border: #000000 solid 2px;
    border-radius: 10px;
    background-color: #2e2e2e;
    padding: 20px;
}

.products h2{
    color: white;
    text-align: center;
}

.product-container{
    border: #000000 solid 2px;
    border-radius: 10px;
    margin: 4.1%;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}

.product-container:hover{
   border: #287CFA solid 4px;
 
}

.product-container h3{
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 50px;
    font-size: 23px;
}

.product-container img{
    width: 50%;

}



footer{
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
}

footer h2{
    font-family: 'Bebas Neue', sans-serif;
    color: white;

}

.credit{
    color: white;
    background-image: url("bgtextura.jpg");
    height: 55vh;
}

.credit button{
    background-color: #44a444;
    border: none;
}

.credit button:hover{
    background-color: #2d2d2d;
}

.contact label{
    padding-top: 15px;
    font-family:sans-serif;
    font-size: 18px;
}


.contact button{
    margin-top: 15px;
}



#credit{
    padding-top: 40px;
    color: #262626;
}

.benefits-list{
    list-style: none;
    padding: 0;
}

benefits-list li {
    display: flex; 
    align-items: center; 
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.benefits-list img{
    width: 35px;
} 






@media (max-width: 768px) {
    #banner-img{
        display: none;
    }
    #bannertxt{
        font-size: 18px;
    }
    .banner-text{
        text-align: center;
        padding: 2%;
    }
}